ps1/node_modules
.env
ass2c
ass1b/node_app/node_modules
ass1b/node_app2/node_modules
.DS_Store
ps4_angular
ps4_new/myapp/.*
ps4_new/myapp/node_modules
static_app/node_modules
music_node_app/node_modules
music_node_app/.env
notesapp/myapp1/node_modules